{% extends 'escolha/navbar.html' %}
{% block content %}
  <section id="service-head" class="bg-feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading text-white">
            <h4 class="section-title">Nome da rua</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">

            <img src="/Users/lucasdossantos/Desktop/0050170048_Santo_Amaro_43_Kurt_2002.jpg">

            <div class="service-inner">
              <h4>Ano foto</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">

            <img src="/Users/lucasdossantos/Desktop/0050170048_Santo_Amaro_43_Kurt_2002.jpg">

            <div class="service-inner">
              <h4>Ano foto</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">

            <img src="/Users/lucasdossantos/Desktop/0050170048_Santo_Amaro_43_Kurt_2002.jpg">

            <div class="service-inner">
              <h4>Ano foto</h4>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary">Bom</button>
        <button type="button" class="btn btn-danger">Ruim</button>
      </div>
    </div>
  </section>
{% endblock %}

