{% extends 'escolha/navbar.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'nao-escolhidos' %}" method="post">
    {% csrf_token %}

  <section id="service-head" class="bg-feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading text-white">
            <h4 class="section-title">{{nome}}</h4>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="service">
    <div class="container">
      <div class="row">
           {% for foto in resultNaoEscolhido %}
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">

            <img src="{{ foto.imagem }}">

            <div class="service-inner">
              <h4>{{ foto.ano }}</h4>
            </div>
          </div>
        </div>
           {% endfor %}
        <button type="submit" class="btn btn-primary">Bom</button>
        <button type="submit" class="btn btn-danger">Ruim</button>
      </div>
    </div>
  </section>
    </form>


{% endblock %}

